
@import 'mixins.scss';

//Colores

$colorGrisBase: rgb(170,170,170);
$colorNaranjaBase: rgb(255,128,0);
$colorNaranjaSuave: rgb(255,176,98);
$colorFormDisabled: peachpuff;
$colorEnlaceFormulario: orange;

// $colorAzulOscuro: rgb(49,53,62);
// $colorAzulClaro: rgb(71,101,137);


//Tamaño mínimo considerado para pc
$altoPC: 750px;
