@mixin estiloEnlace($display,$color,$ancho){
    display: $display;
    text-decoration: none;
    color: $color;
    width: $ancho;
}
@mixin sombraPerimetral($size,$difuminacion,$color,$estilo){
    @if $estilo == inset{
        box-shadow: 0 ((-1)*$size) $difuminacion $color $estilo,
            $size 0 $difuminacion $color $estilo,
            0 $size $difuminacion $color $estilo,
            ((-1)*$size) 0 $difuminacion $color $estilo;
    } @else if $estilo == none{
        box-shadow: 0 ((-1)*$size) $difuminacion $color,
            $size 0 $difuminacion $color,
            0 $size $difuminacion $color,
            ((-1)*$size) 0 $difuminacion $color;
    }
}
@mixin sombraPerimetralTexto($size,$difuminacion,$color,$estilo){
    @if $estilo == inset{
        text-shadow: 0 ((-1)*$size) $difuminacion $color $estilo,
            $size 0 $difuminacion $color $estilo,
            0 $size $difuminacion $color $estilo,
            ((-1)*$size) 0 $difuminacion $color $estilo;
    } @else if $estilo == none{
        text-shadow: 0 ((-1)*$size) $difuminacion $color,
            $size 0 $difuminacion $color,
            0 $size $difuminacion $color,
            ((-1)*$size) 0 $difuminacion $color;
    }
}
@mixin reglasBarrasScroll(){
    // REGLAS PARA LAS BARRAS DE DESPLAZAMIENTO
    ::-webkit-scrollbar-thumb{
        background-color: $colorNaranjaBase;
    }
    ::-webkit-scrollbar-track{
        background-color: rgba($colorNaranjaSuave,.4);
    }
    ::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }
}
//Botones header
@mixin botonOut($color-left-top,$color-right-bottom,$color,$background-color,$colorSombra){
    border:{
        radius: 4px;

        left: 1px solid $color-left-top;
        top: 1px solid $color-left-top;
        right: 1px solid $color-right-bottom;
        bottom: 1px solid $color-right-bottom;
    }
    color: $color;
    background-color: $background-color;
    box-shadow: 1px 1px 2px $colorSombra;
}
@mixin botonIn($color-left-top,$color-right-bottom,$color,$background-color,$grosorFuente){
    border:{
        radius: 4px;

        left: 1px solid $color-left-top;
        top: 1px solid $color-left-top;
        right: 1px solid $color-right-bottom;
        bottom: 1px solid $color-right-bottom;
    }
    cursor: pointer;
    color: $color;
    background-color: $background-color;
    box-shadow: none;
    opacity: .9;
    font-weight: $grosorFuente;
}
@mixin estiloBotonHeader(){
    & a{
        @include estiloEnlace(inline,black,60px);
    }

    width: 70%;
    text-align: center;
    font-size: 11px;
    margin: 7px 5px;
    padding: 3px 10px;

    @include botonOut($colorGrisBase,black,white,White,transparent);

    &:hover{
        transition-duration: .4s;
        @include botonIn(silver,transparent,rgba(0,0,0,1),rgba(White,.3),bold);
        @include sombraPerimetral(1px,12px,white,none);
    }
}
@mixin estiloBotonContenidos(){
    & a{
        @include estiloEnlace(inline,white,60px);
    }

    display: inline-block;
    width: 115px;
    text-align: center;
    font-size: 12px;
    margin: 7px 5px;
    padding: 3px 10px;

    @include botonOut(grey,black,white,rgba(255,255,255,.2),transparent);

    &:hover{
        transition-duration: .4s;
        @include botonIn(silver,transparent,rgb(230,230,230),rgba(0,0,0,.05),normal);
        @include sombraPerimetral(1px,12px,white,none);
    }
}

