<section class="confirm-box">

    <section class="section-title-box confirm-title-box">
        <p class="section-title confirm-title"><span class="glyphicon glyphicon-exclamation-sign"></span> Mensaje de confirmación</p>
    </section>

    <section class="confirm-message-pack">
        <div class="confirm-message-box">
            <p class="confirm-message">{{confirmMessage}}</p>
        </div>
        <div class="height-adjustment-row"></div>
    </section>

    <section class="confirm-button-box">
        <span class="boton confirm-button btn btn-danger" ng-click="userDelete()">Eliminar usuario</span>
        <span class="boton confirm-button btn btn-success" ng-click="cancel()">Cancelar</span>
    </section>

</section>
