/* app css stylesheet */
body {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 750px;
  margin: 0;
  background-image: url("../img/fondos/imgFondo.jpg");
  background-size: 100%;
  font-family: Calibri; }
  body .ui-dialog {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.6), 1px 0 20px rgba(0, 0, 0, 0.6), 0 1px 20px rgba(0, 0, 0, 0.6), -1px 0 20px rgba(0, 0, 0, 0.6); }
    body .ui-dialog .ui-dialog-titlebar-close {
      /*Quita el icono de cerrar ventana por defecto*/
      display: none; }
  body .caja-formulario {
    padding: 20px;
    font-size: 12px;
    max-width: 550px;
    /*Reglas para ventanas modales*/ }
    body .caja-formulario a {
      color: orange; }
    body .caja-formulario.dialog-editar, body .caja-formulario.dialog-new, body .caja-formulario.dialog-login {
      background-color: #31353e; }
    body .caja-formulario input:disabled, body .caja-formulario select:disabled {
      background-color: peachpuff; }
    body .caja-formulario .tituloFormulario {
      margin-top: 10px;
      font-size: 15px;
      font-weight: bolder;
      color: white; }
    body .caja-formulario .registro-bloqueDatos, body .caja-formulario .login-bloqueDatos {
      margin-top: 10px; }
      body .caja-formulario .registro-bloqueDatos > span, body .caja-formulario .login-bloqueDatos > span {
        vertical-align: middle; }
      body .caja-formulario .registro-bloqueDatos #newArticulo-label-precio-oferta, body .caja-formulario .login-bloqueDatos #newArticulo-label-precio-oferta {
        padding: 0 10px 0 5px; }
    body .caja-formulario label {
      color: white;
      min-width: 110px; }
    body .caja-formulario .registro-label-check, body .caja-formulario .login-label-radio {
      vertical-align: middle; }
    body .caja-formulario .registro-input, body .caja-formulario .login-input, body .caja-formulario .registro-select {
      min-width: 190px;
      padding-left: 5px;
      border: none; }
      body .caja-formulario .registro-input:focus, body .caja-formulario .login-input:focus, body .caja-formulario .registro-select:focus {
        box-shadow: 0 -1px 6px white, 1px 0 6px white, 0 1px 6px white, -1px 0 6px white;
        transition-duration: .3s; }
    body .caja-formulario .registro-input-corto {
      padding-left: 5px;
      border: none; }
      body .caja-formulario .registro-input-corto:focus {
        box-shadow: 0 -1px 6px white, 1px 0 6px white, 0 1px 6px white, -1px 0 6px white;
        transition-duration: .3s; }
    body .caja-formulario .registro-label-error, body .caja-formulario .login-label-error {
      color: orange;
      font-size: 11px; }
    body .caja-formulario .formulario-botonera {
      margin-top: 5px; }
    body .caja-formulario .formulario-botonera .formulario-boton {
      display: inline-block;
      width: 115px;
      text-align: center;
      font-size: 12px;
      margin: 7px 5px;
      padding: 3px 10px;
      border-radius: 4px;
      border-left: 1px solid grey;
      border-top: 1px solid grey;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 1px 1px 2px transparent;
      float: left; }
      body .caja-formulario .formulario-botonera .formulario-boton a {
        display: inline;
        text-decoration: none;
        color: white;
        width: 60px; }
      body .caja-formulario .formulario-botonera .formulario-boton:hover {
        transition-duration: .4s;
        border-radius: 4px;
        border-left: 1px solid silver;
        border-top: 1px solid silver;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        color: #e6e6e6;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: none;
        opacity: .9;
        font-weight: normal;
        box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
  body #caja-filtro #filtro-titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #476589;
    margin-top: 0.5em; }
  body #caja-filtro #filtro-campo {
    margin-right: 1em; }
  body #caja-filtro .btn-filtro {
    margin: 1em; }
  body ::-webkit-scrollbar-thumb {
    background-color: #ff8000; }
  body ::-webkit-scrollbar-track {
    background-color: rgba(255, 176, 98, 0.4); }
  body ::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  body #capaSuperior {
    width: 80%;
    height: 100%;
    margin: 0 auto; }
    body #capaSuperior #header {
      height: 14%; }
      body #capaSuperior #header #limitSup {
        height: 30%; }
      body #capaSuperior #header #cabeceraContenidos {
        height: 70%;
        background-color: white;
        box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.4), -10px 0 30px rgba(0, 0, 0, 0.4), 10px 0 30px rgba(0, 0, 0, 0.4); }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogo {
          width: 25%;
          height: 100%;
          float: left; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogo #logoImg {
            margin-left: 30px;
            width: 180px;
            margin-top: 10px;
            cursor: pointer; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
          width: 15%;
          height: 100%;
          float: right; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin {
            width: 100%;
            margin: 1% 10px 0;
            float: right;
            padding: 8% 5%; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton {
              width: 70%;
              text-align: center;
              font-size: 11px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid #aaaaaa;
              border-top: 1px solid #aaaaaa;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: #476589;
              box-shadow: 1px 1px 2px transparent;
              float: right;
              margin-top: 0.05%; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton a {
                display: inline;
                text-decoration: none;
                color: black;
                width: 60px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: black;
                background-color: rgba(71, 101, 137, 0.3);
                box-shadow: none;
                opacity: .9;
                font-weight: bold;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton a {
                color: white; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin {
            max-width: 95%;
            margin: 10px;
            text-align: right;
            color: white; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin #opcionesUsuario {
              margin-top: 0; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin #dropdownMenu1 {
              margin-bottom: 2px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn {
              width: 70%;
              text-align: center;
              font-size: 11px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid #aaaaaa;
              border-top: 1px solid #aaaaaa;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: #476589;
              box-shadow: 1px 1px 2px transparent;
              padding: 2px 10px;
              font-size: 12px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn a {
                display: inline;
                text-decoration: none;
                color: black;
                width: 60px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: black;
                background-color: rgba(71, 101, 137, 0.3);
                box-shadow: none;
                opacity: .9;
                font-weight: bold;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn #caja-texto-login {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                max-width: 60px;
                /*Reglas necesarias para text-overflow*/
                /*El contenedor debe ser de bloque*/
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin #iconoUsuario {
              width: 15px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin ul {
              width: 60px;
              font-size: 12px;
              background-color: rgba(255, 255, 255, 0.9); }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin ul li a {
                text-overflow: ellipsis; }
                body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin ul li a:hover {
                  color: white;
                  background-color: #ffb062;
                  border-radius: 4px;
                  transition-duration: 0.3s;
                  font-weight: bolder;
                  font-style: italic;
                  box-shadow: 0 -1px 8px white, 1px 0 8px white, 0 1px 8px white, -1px 0 8px white; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .dropdown-menu {
              left: auto;
              right: 0; }
    body #capaSuperior #menuH {
      height: 3.5%;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5); }
    body #capaSuperior #seccionCentral {
      height: 60%;
      margin-top: 1px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.95);
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center; }
      body #capaSuperior #seccionCentral #contenidos {
        height: 100%;
        float: left;
        width: 100%;
        padding-top: 2%;
        overflow: auto; }
        body #capaSuperior #seccionCentral #contenidos .img-loading {
          width: 30px; }
        body #capaSuperior #seccionCentral #contenidos .height-adjustment-row {
          clear: both; }
        body #capaSuperior #seccionCentral #contenidos .section-title {
          font-size: 1.2em;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.5); }
        body #capaSuperior #seccionCentral #contenidos .list .list-head-row, body #capaSuperior #seccionCentral #contenidos .list .list-content-row {
          width: 90%;
          clear: both; }
        body #capaSuperior #seccionCentral #contenidos .list .list-content-row:hover {
          background-color: rgba(0, 0, 128, 0.06);
          cursor: cell; }
        body #capaSuperior #seccionCentral #contenidos .list .list-content-row .list-content-cell {
          border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
        body #capaSuperior #seccionCentral #contenidos .list .list-head-row {
          font-weight: bold;
          color: navy; }
          body #capaSuperior #seccionCentral #contenidos .list .list-head-row .list-head-cell {
            background-color: rgba(0, 0, 0, 0.1);
            border-top: 1px solid rgba(0, 0, 0, 0.8);
            border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
        body #capaSuperior #seccionCentral #contenidos .list .list-head-cell, body #capaSuperior #seccionCentral #contenidos .list .list-content-cell {
          width: 12%;
          display: inline-block;
          padding: 0.3em 0;
          margin: 0;
          float: left; }
        body #capaSuperior #seccionCentral #contenidos .list .col-mail {
          width: 16%; }
        body #capaSuperior #seccionCentral #contenidos .list .col-name {
          width: 8%; }
        body #capaSuperior #seccionCentral #contenidos .list .col-icon {
          width: 4%;
          cursor: pointer; }
        body #capaSuperior #seccionCentral #contenidos .list .list-button-box {
          margin-top: 2em;
          clear: both; }
          body #capaSuperior #seccionCentral #contenidos .list .list-button-box .list-button {
            width: 70%;
            text-align: center;
            font-size: 11px;
            margin: 7px 5px;
            padding: 3px 10px;
            border-radius: 4px;
            border-left: 1px solid #aaaaaa;
            border-top: 1px solid #aaaaaa;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            color: white;
            background-color: #476589;
            box-shadow: 1px 1px 2px transparent;
            font-size: 1em;
            width: 15%; }
            body #capaSuperior #seccionCentral #contenidos .list .list-button-box .list-button a {
              display: inline;
              text-decoration: none;
              color: black;
              width: 60px; }
            body #capaSuperior #seccionCentral #contenidos .list .list-button-box .list-button:hover {
              transition-duration: .4s;
              border-radius: 4px;
              border-left: 1px solid silver;
              border-top: 1px solid silver;
              border-right: 1px solid transparent;
              border-bottom: 1px solid transparent;
              cursor: pointer;
              color: black;
              background-color: rgba(71, 101, 137, 0.3);
              box-shadow: none;
              opacity: .9;
              font-weight: bold;
              box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
            body #capaSuperior #seccionCentral #contenidos .list .list-button-box .list-button a {
              color: white; }
        body #capaSuperior #seccionCentral #contenidos .form-box {
          text-align: left;
          width: 40%; }
          body #capaSuperior #seccionCentral #contenidos .form-box .form-title {
            text-align: center; }
          body #capaSuperior #seccionCentral #contenidos .form-box .form-input-box {
            display: block;
            padding-top: 0.5em;
            clear: both; }
            body #capaSuperior #seccionCentral #contenidos .form-box .form-input-box .form-input-label {
              float: left; }
            body #capaSuperior #seccionCentral #contenidos .form-box .form-input-box .form-input {
              float: right;
              width: 70%; }
          body #capaSuperior #seccionCentral #contenidos .form-box .form-button-box {
            margin-top: 1.5em;
            text-align: center;
            clear: both; }
            body #capaSuperior #seccionCentral #contenidos .form-box .form-button-box #generate-new-user-button {
              margin-left: 2em; }
        body #capaSuperior #seccionCentral #contenidos .confirm-box {
          width: 45%;
          margin-top: 2em;
          background-color: rgba(0, 0, 0, 0.06);
          border-radius: 0.5em;
          box-shadow: 8px 8px 15px #888888; }
          body #capaSuperior #seccionCentral #contenidos .confirm-box .confirm-title-box {
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            padding: 1em 0 0 .1em;
            box-shadow: 0 3px 4px #888888; }
            body #capaSuperior #seccionCentral #contenidos .confirm-box .confirm-title-box .confirm-title {
              color: black; }
          body #capaSuperior #seccionCentral #contenidos .confirm-box .confirm-message-pack {
            margin: 3em 0 3em 0; }
            body #capaSuperior #seccionCentral #contenidos .confirm-box .confirm-message-pack .confirm-message {
              font-weight: bold;
              font-size: 1.2em; }
          body #capaSuperior #seccionCentral #contenidos .confirm-box .confirm-button-box {
            padding: 0 0 1em 0; }
    body #capaSuperior #pie {
      height: 30%;
      margin-top: 5px; }
      body #capaSuperior #pie #pieContenidos {
        height: 90%;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.7); }
        body #capaSuperior #pie #pieContenidos .footContent {
          padding: 1em; }
        body #capaSuperior #pie #pieContenidos #enlaces {
          width: 50%;
          height: 70%;
          float: left; }
          body #capaSuperior #pie #pieContenidos #enlaces #infoContacto {
            margin-top: 5px;
            height: 100%;
            text-align: right;
            color: rgba(255, 255, 255, 0.7); }
            body #capaSuperior #pie #pieContenidos #enlaces #infoContacto strong {
              font-size: 1.1em; }
            body #capaSuperior #pie #pieContenidos #enlaces #infoContacto a {
              text-decoration: none;
              color: inherit;
              font-weight: bold; }
        body #capaSuperior #pie #pieContenidos #otros {
          padding-top: 5px;
          width: 50%;
          height: 70%;
          float: left; }
          body #capaSuperior #pie #pieContenidos #otros #mapa {
            margin-top: 1em;
            width: 60%;
            height: 100%; }
        body #capaSuperior #pie #pieContenidos #infoDev {
          height: 30%;
          clear: both;
          font-size: 1em;
          text-align: center;
          padding-top: 2em; }
      body #capaSuperior #pie #limitInf {
        height: 20%; }
  body #capaFondo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    body #capaFondo #franjaSuperior {
      width: 100%;
      height: 14%;
      background-color: rgba(0, 0, 0, 0.6); }
    body #capaFondo #franjaBajoMenuH {
      width: 100%;
      height: 3.5%;
      background-color: rgba(0, 0, 0, 0.85);
      box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=app.css.map */
